body{
  margin:0;
  background-color:rgb(0, 0, 0);
}
.main {
  display: flex;
  flex-direction: column;
 }


/* CONTACTLIS */
.mainContainer {
  background-color: #696969;
  box-shadow: rgba(253, 255, 255, 0.945) 0px 1px 7px; ;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px; 
}
.headerTitle {  
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top {
  background-color: #dcdcdc;
  padding: 10px;
}
.header-list {
  display: flexbox;
  align-content: space-around;
}
.search-input {
  float: left;
  width: 30%;
  height: 40px;
  margin-bottom: 10px;
}
#img {
  margin: auto;
  display: block;
  padding: 5px;
  width: 150px;  
}
#addBtn {
  float: right;
  margin-right: 10px;
}
#addBtn:hover{
  background: #696969;
}
h4 {
  color: #dcdcdc;
}


/* ADDCONTACT */
#modal {
  padding: 10px;
  height: auto;
  margin-top: 180px;
  width: 480px;
  float: center;
  background-color: white;
  box-shadow: rgba(253, 255, 255, 0.945) 0px 1px 7px; ;
  border-radius: 10px;
}
.line {
  justify-self: center;
  margin-right: 5px;
  height: 1px;
  width: 95%;
  background-color: #cccccc;
}
.line-input {
  flex: 50%;
  padding: 10px;
  width: 100%;
  align-content: space-between;
}
.line-input2 {
  flex: 50%;
  padding: 10px;
  width: 195%;
  align-content: space-between;
}

h3 {
  color: #696969;
}

input {
  width: 50%;
  margin-right: 5px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin: 0 0 8px 0;
}


#btn {
  align-content: center;
  margin-top: 10px;
  margin-left: 10px;
}
#closeBtn {
  background-color: #c70f0f;
}
#closeBtn:hover {
  background-color: #eb3030;
}

#saveBtn{
  background-color:#108fa5;

}
#saveBtn:hover{
  background:#5dd3e7
}

#icon {
  margin-left: 10px;
}



/* CONTACTCARD */

.table {
  margin-top: 10;
  width: 100%;
  height: 700px;
  overflow-y: scroll;
}
.cell:hover {
  background: #5dd3e7;
}
.cells {
  width: 10px;
}

th {
  background-color: #c70f0f;
}
tr {
  background-color: #f5f5f5;
}
.trash {
  margin-left: px;
  color: #a9a9a9;
}


.ui.table thead th{
  position: sticky !important;
  top: 0;
  z-index: 2;
  opacity: 0.9;
  
;}
  
#teste{
  background-color: #108fa5;
}
/*MyFooter*/ 

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

